# Common folder
ML Project Details.pdf
package-lock.json
node_modules

# Backend folder
Backend/node_modules
Dockerfile
Backend/models/ResNet.pt

# Frontend folder
Frontend/frontend/node_modules
Frontend/frontend/Dockerfile
Frontend/frontend/README.md